In [ ]:
# Documentación libraría pandas
# https://pandas.pydata.org/docs/index.html
# importar libraría pandas

In [ ]:
# dataset de exemplo de vendas encontrado na comunidade de Tableau
# https://community.tableau.com/s/question/0D54T00000CWeX8SAL/sample-superstore-sales-excelxls
# Cargar ficheiro XLS (dispoñible en repositorio GitHub)

In [ ]:
# mostrar o dataframe

In [ ]:
# Mostra as 3 primeiras fils

In [ ]:
# Mostra 5 filas aletaorias

In [ ]:
# Das dez últimas filas mostra as 5 primeiras

In [ ]:
# Mostra 3 das 50 primeiras filas

In [ ]:
# información sobre os tipos de datos das columnas

In [ ]:
# Indica os seguintes datos (despois dos dous puntos)
#
# Tipo do código postal: 
#
# Tipo do desconto: 
#
# Tipo de dato do país:

In [ ]:
# Mostra os nomes das columnas

In [ ]:
# Selección de 5 cidades aleatorias

In [ ]:
# Mostra os diferentes países que aparecen nos datos

In [ ]:
# Mostra as diferentes categorías

In [ ]:
# Selección de id de cliente, nome e cidade

In [ ]:
# Selección de IDs de pedido (como Dataframe)

In [ ]:
# Contar elementos totais da serie "Region"

In [ ]:
# Mostrar elementos da serie "Region"

In [ ]:
# Contar elementos diferentes da serie "Region"

In [ ]:
# Crea unha serie cas cantidades de cada liña de pedido e mostra o resultado

In [ ]:
# Mostra só as liñas do dataframe que conteñan liñas de pedido con cantidades maiores que 2

In [ ]:
# Mostra só as liñas do dataframe que conteñan liñas de pedido da subcategoría de mesas "Tables"

In [ ]:
# Mostra as cidades con pedidos que inclúen mesas

In [ ]:
# Crea unha variable de tipo Series coas cidades con pedidos que inclúen mesas e mostra 5 filas aleatorias

In [ ]:
# Crea unha variable de tipo Dataframe coas cidades con pedidos que inclúen sillas e mostra as 3 últimas

In [ ]:
# Mostra todas as liñas de pedido de teléfonos (Phones) para 'Los Angeles'

In [ ]:
# Mostra 10 liñas exemplo de pedido de teléfonos (Phones) ou mesas (Tables)

In [ ]:
# Selecciona a segunda fila do dataframe

In [ ]:
# Selecciona a terceira, séptima e vixésima cuarta fila

In [ ]:
# crea un dataframe (vendas) co nome de cliente, cidade, nome do produto e cantidade comprada da rexión oeste

In [ ]:
# Seleccionar a segunda fila do dataframe anterior (vendas) atendendendo á posición

In [ ]:
# Seleccionar a segunda fila de vendas atendendo ao index (mira o dataframe)

In [ ]:
# Pensa se hai algunha columna no ficheiro excel que puidese funcionar como index e volve cargar o dataframe desde o ficheiro

In [ ]:
# Seleccionar a quinta fila

In [ ]:
# Seleccionar as filas desde a terceira á séptima

In [ ]:
# Seleccionar a penúltima fila

In [ ]:
# Seleccionar, das 5 últimas filas, todas menos a última

In [ ]:
# Dependendo do que precisemos usaremos loc ou iloc
# loc <- traballa con index/labels
# iloc <- traballa con posicións

In [ ]:
# Escritura dun ficheiro XLS coas vendas no estado de California

In [ ]:
# Darlle un nome á folla ('California')

In [ ]:
# Garda as filas de vendas da zona oeste ou sur. Desas filas garda unicamente nome do produto, identificador, cantidade e desconto. Garda o resultado nun ficheiro vendas_WS.xlsx
# Intenta facelo todo nunha única liña